

:root {
    --main-bg-color: #1C1B20;
    --main-blue: #A4C4F6;
}

.call-to-action, #summary, .navbar {
    font-size: 1.3rem;
}

/* start styles */

a {
    text-decoration: none;
    color: var(--main-blue);
}

body {
    background-color: var(--main-bg-color);
    /* color: #C4DBFF; */
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 16px 300px;
}

.call-to-action {
    line-height: 1.5;
    
}

#connect-with-me {
    
}

.github-button {
    background-color: var(--main-blue);
}

header {
    padding: 0px;
}

.icon {
    height: 75px;
    width: 75px;
    margin-right: 30px;
}

#icons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

h2 {
    /* color: #FA0D62; */
    text-align: center;
    margin-bottom: 30px;
    padding-top: 5px;
    color: var(--main-blue);
}



.navbar {
    background-color: var(--main-bg-color);
    display: flex;
    /* color: #50FF8C; */
    /* padding: 16px 250px; */
    /* padding: 10px 0px 20px; */
    
}

.navbar-link {
    padding-right: 8px;
}

.navbar-items {
    display: flex;
}

.navbar-items-right {
    margin-left: auto;
}

.navbar-link-toggle {
    display: none;
}

.navbar-toggle-icon {
    height: 25px;
    width: 50px;
}


.project-button {
    padding: 15px 15px;
    color: black;
    border-radius: 5px;
    width: 80%;
    text-align: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 7.5px;
    padding: 0px 15px 15px;
}

#projects-grid {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 50px;
}

#projects-div {
    margin-top: 90px;
    margin-bottom: 90px;

}

#summary {
    /* height: 60vw; */
    /* font-size: 1.3rem; */
    /* margin-bottom: 80px; */
    line-height: 1.5;
}

#summary-view-button {
    color: black;
    background-color: #50FF8C;
    text-decoration: none;
    padding: 17.5px 30px;
    border-radius: 30px;
}

#summary-view-button-div {
    text-align: center;
    margin-top: 50px;
}

.tags {
    margin-top: 30px;
}

.tags span {
    color: black;
    background-color: gray;
    padding: 7.5px 7.5px;
    border-radius: 5px;
}

.view-button {
    background-color: #50FF8C;
    margin-bottom: 10px;
}






@media only screen and (max-width: 1500px) {
    body {
      padding: 16px 250px;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        padding: 16px 150px;
      }
    
    .project-card {
        width: 80%;
       
    }

    #projects-grid {
        grid-template-columns: auto auto ;
    }
}

@media only screen and (max-width: 768px) {
    body {
        padding: 16px 50px;
    }

    #summary {
        height: auto;
        margin-bottom: 100px;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 565px) {
    .call-to-action, #summary, .navbar {
        font-size: 1.1rem;
    }

    body {
        padding: 16px 20px;
        font-size: 0.9rem;
    }

    .icon {
        height: 50px;
        width: 50px;
    }

    #projects-grid {
        grid-template-columns: auto ;
        grid-gap: 20px;
    }

    .project-card {
        width: 90%; 
    }

    .project-button {
        padding: 17.5px 15px;
        width: 90%;
    }

    #summary {
        height: auto;
        margin-bottom: 100px;
        /* font-size: 1.1rem; */
        /* line-height: 1.5; */
        margin-bottom: 60px;
    }

    #summary-view-button-div {
        margin-top: 50px;
    }
}






@media only screen and (max-width: 768px) {
    .navbar-items, .navbar {
        flex-direction: column;
    }
    .navbar-items {
        display: none;
    }
    .navbar-items-right {
        margin-left: 0;
    }
    .navbar-link {
        padding-bottom: 15px;
    }
    .navbar-toggleshow {
        display: flex;
    }
    .navbar-link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
}